@import '../../../../assets/styles/variables.scss';

.search-bar-container {
  margin: 15px 0 30px;

  .search-icon {
    position: absolute;
    padding: 10px;
  }

  .search-bar {
    outline: none;
    border: none;
    font-size: 18px;
    width: 100%;
    padding: 10px 15px 10px 45px;
  }
}

